interactions:
- request:
    body: customer=cus_JvRpCCzaOdKoVk&return_url=http%3A%2F%2Flocalhost%2Fmain%2F
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 20914401-50d6-4fe8-b927-feab7e86cf68
      authorization:
      - DUMMY
    method: POST
    uri: https://api.stripe.com/v1/billing_portal/sessions
  response:
    body:
      string: "{\n  \"id\": \"bps_1JHaw0ISAshlKrRgBQcsjwpb\",\n  \"object\": \"billing_portal.session\",\n
        \ \"configuration\": \"bpc_1JG9X9ISAshlKrRg6qYtsSuu\",\n  \"created\": 1627333320,\n
        \ \"customer\": \"cus_JvRpCCzaOdKoVk\",\n  \"livemode\": false,\n  \"on_behalf_of\":
        null,\n  \"return_url\": \"http://localhost/main/\",\n  \"url\": \"https://billing.stripe.com/session/_JvRptbl54sFGrrb8Nwqh7z5CAyUBeJl\"\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - 20914401-50d6-4fe8-b927-feab7e86cf68
      original-request:
      - req_l5ysVNiZN5L2pu
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2020-08-27'
    status:
      code: 200
      message: OK
version: 1
