interactions:
- request:
    body: email=wgwurehvaxerdbcllyswbvduoktcrcpn%40qiftvmmvivikyvphpuqrhcqeetnithgd.com&metadata[user_id]=2
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5f0c097f-a401-4dec-a112-a2a1435aae07
      authorization:
      - DUMMY
    method: POST
    uri: https://api.stripe.com/v1/customers
  response:
    body:
      string: "{\n  \"id\": \"cus_JvRpCCzaOdKoVk\",\n  \"object\": \"customer\",\n
        \ \"address\": null,\n  \"balance\": 0,\n  \"created\": 1627333316,\n  \"currency\":
        null,\n  \"default_source\": null,\n  \"delinquent\": false,\n  \"description\":
        null,\n  \"discount\": null,\n  \"email\": \"wgwurehvaxerdbcllyswbvduoktcrcpn@qiftvmmvivikyvphpuqrhcqeetnithgd.com\",\n
        \ \"invoice_prefix\": \"9326FE15\",\n  \"invoice_settings\": {\n    \"custom_fields\":
        null,\n    \"default_payment_method\": null,\n    \"footer\": null\n  },\n
        \ \"livemode\": false,\n  \"metadata\": {\n    \"user_id\": \"2\"\n  },\n
        \ \"name\": null,\n  \"phone\": null,\n  \"preferred_locales\": [\n\n  ],\n
        \ \"shipping\": null,\n  \"tax_exempt\": \"none\"\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - 5f0c097f-a401-4dec-a112-a2a1435aae07
      original-request:
      - req_iG46g6bTvw4NxQ
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2020-08-27'
    status:
      code: 200
      message: OK
version: 1
