interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.stripe.com/v1/subscriptions?customer=cus_JuvfQtesBmJXnQ
  response:
    body:
      string: "{\n  \"object\": \"list\",\n  \"data\": [\n\n  ],\n  \"has_more\":
        false,\n  \"url\": \"/v1/subscriptions\"\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2020-08-27'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.stripe.com/v1/prices?lookup_keys%5B0%5D=no_plan&lookup_keys%5B1%5D=free&lookup_keys%5B2%5D=lite&lookup_keys%5B3%5D=medium&lookup_keys%5B4%5D=enterprise&lookup_keys%5B5%5D=cancelled
  response:
    body:
      string: "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"id\": \"price_1JFnKrISAshlKrRgdPcdclQ9\",\n
        \     \"object\": \"price\",\n      \"active\": true,\n      \"billing_scheme\":
        \"per_unit\",\n      \"created\": 1626904333,\n      \"currency\": \"eur\",\n
        \     \"livemode\": false,\n      \"lookup_key\": \"enterprise\",\n      \"metadata\":
        {\n      },\n      \"nickname\": null,\n      \"product\": \"prod_JtaVPrC8nroNHr\",\n
        \     \"recurring\": {\n        \"aggregate_usage\": null,\n        \"interval\":
        \"month\",\n        \"interval_count\": 1,\n        \"trial_period_days\":
        null,\n        \"usage_type\": \"licensed\"\n      },\n      \"tiers_mode\":
        null,\n      \"transform_quantity\": null,\n      \"type\": \"recurring\",\n
        \     \"unit_amount\": 4900,\n      \"unit_amount_decimal\": \"4900\"\n    },\n
        \   {\n      \"id\": \"price_1JFnKPISAshlKrRgQ3RTCFiO\",\n      \"object\":
        \"price\",\n      \"active\": true,\n      \"billing_scheme\": \"per_unit\",\n
        \     \"created\": 1626904305,\n      \"currency\": \"eur\",\n      \"livemode\":
        false,\n      \"lookup_key\": \"lite\",\n      \"metadata\": {\n      },\n
        \     \"nickname\": null,\n      \"product\": \"prod_JtaVoLzg2hQ3rf\",\n      \"recurring\":
        {\n        \"aggregate_usag[...]
- request:
    body: type=card&card[number]=4242424242424242&card[exp_month]=7&card[exp_year]=2022&card[cvc]=314
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 9defbddb-a0b5-4428-9202-4daf62fca721
      authorization:
      - DUMMY
    method: POST
    uri: https://api.stripe.com/v1/payment_methods
  response:
    body:
      string: "{\n  \"id\": \"pm_1JH5nyISAshlKrRgH4gsl7OH\",\n  \"object\": \"payment_method\",\n
        \ \"billing_details\": {\n    \"address\": {\n      \"city\": null,\n      \"country\":
        null,\n      \"line1\": null,\n      \"line2\": null,\n      \"postal_code\":
        null,\n      \"state\": null\n    },\n    \"email\": null,\n    \"name\":
        null,\n    \"phone\": null\n  },\n  \"card\": {\n    \"brand\": \"visa\",\n
        \   \"checks\": {\n      \"address_line1_check\": null,\n      \"address_postal_code_check\":
        null,\n      \"cvc_check\": \"unchecked\"\n    },\n    \"country\": \"US\",\n
        \   \"exp_month\": 7,\n    \"exp_year\": 2022,\n    \"fingerprint\": \"PS7tK2uFfKdB0yi1\",\n
        \   \"funding\": \"credit\",\n    \"generated_from\": null,\n    \"last4\":
        \"4242\",\n    \"networks\": {\n      \"available\": [\n        \"visa\"\n
        \     ],\n      \"preferred\": null\n    },\n    \"three_d_secure_usage\":
        {\n      \"supported\": true\n    },\n    \"wallet\": null\n  },\n  \"created\":
        1627213658,\n  \"customer\": null,\n  \"livemode\": false,\n  \"metadata\":
        {\n  },\n  \"type\": \"card\"\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - 9defbddb-a0b5-4428-9202-4daf62fca721
      original-request:
      - req_pz5bgQz6Uq4Wd7
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2020-08-27'
    status:
      code: 200
      message: OK
- request:
    body: customer=cus_JuvfQtesBmJXnQ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 77f44236-9b11-475f-b8ad-4edeed9c0930
      authorization:
      - DUMMY
    method: POST
    uri: https://api.stripe.com/v1/payment_methods/pm_1JH5nyISAshlKrRgH4gsl7OH/attach
  response:
    body:
      string: "{\n  \"id\": \"pm_1JH5nyISAshlKrRgH4gsl7OH\",\n  \"object\": \"payment_method\",\n
        \ \"billing_details\": {\n    \"address\":[...]
- request:
    body: customer=cus_JuvfQtesBmJXnQ&items[0][price]=price_1JFnKrISAshlKrRgdPcdclQ9&default_payment_method=pm_1JH5nyISAshlKrRgH4gsl7OH
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - fb3d6615-fc65-45db-a012-ac92c796a6e0
      authorization:
      - DUMMY
    method: POST
    uri: https://api.stripe.com/v1/subscriptions
  response:
    body:
      string: "{\n  \"id\": \"sub_JuvfLfhfEyEpDh\",\n  \"object\": \"subscription\",\n
        \ \"application_fee_percent\": null,\n  \"automatic_tax\": {\n    \"enabled\":
        false\n  },\n  \"billing_cycle_anchor\": 1627213659,\n  \"billing_thresholds\":
        null,\n  \"cancel_at\": null,\n  \"cancel_at_period_end\": false,\n  \"canceled_at\":
        null,\n  \"collection_method\": \"charge_automatically\",\n  \"created\":
        1627213659,\n  \"current_period_end\": 1629892059,\n  \"current_period_start\":
        1627213659,\n  \"customer\": \"cus_JuvfQtesBmJXnQ\",\n  \"days_until_due\":
        null,\n  \"default_payment_method\": \"pm_1JH5nyISAshlKrRgH4gsl7OH\",\n  \"default_source\":
        null,\n  \"default_tax_rates\": [\n\n  ],\n  \"discount\": null,\n  \"ended_at\":
        null,\n  \"items\": {\n    \"object\": \"list\",\n    \"data\": [\n      {\n
        \       \"id\": \"si_JuvfOb3heIbhv9\",\n        \"object\": \"subscription_item\",\n
        \       \"billing_thresholds\": null,\n        \"created\": 1627213660,\n
        \       \"metadata\": {\n        },\n        \"plan\": {\n          \"id\":
        \"price_1JFnKrISAshlKrRgdPcdclQ9\",\n          \"object\": \"plan\",\n          \"active\":
        true,\n          \"aggregate_usage\": null,\n          \"amount\": 4900,\n
        \         \"amount_decimal\": \"4900\",\n          \"billing_scheme\": \"per_unit\",\n
        \         \"created\": 1626904333,\n          \"currency\": \"eur\",\n          \"interval\":
        \"month\",\n          \"interval_count\": 1,\n          \"livemode\": false,\n
        \         \"metadata\": {\n          },\n          \"nickname\": null,\n          \"product\":
        \"prod_JtaVPrC8nroNHr\",\n          \"tiers_mode\": null,\n          \"transform_usage\":
        null,\n          \"trial_period_days\": null,\n          \"usage_type\": \"licensed\"\n
        \       },\n        \"price\": {\n          \"id\": \"price_1JFnKrISAshlKrRgdPcdclQ9\",\n
        \         \"object\": \"price\",\n          \"active\": true,\n          \"billing_scheme\":
        \"per_unit\",\n          \"created\": 1626904333,\n          \"currency\":
        \"eur\",\n          \"livemode\": false,\n          \"lookup_key\": \"enterprise\",\n
        \         \"metadata\": {\n          },\n          \"nickname\": null,\n          \"product\":
        \"prod_JtaVPrC8nroNHr\",\n          \"recurring\": {\n            \"aggregate_usage\":
        null,\n            \"interval\": \"month\",\n            \"interval_count\":
        1,\n            \"trial_period_days\": null,\n            \"usage_type\":
        \"licensed\"\n          },\n          \"tiers_mode\": null,\n          \"transform_quantity\":
        null,\n          \"type\": \"recurring\",\n          \"unit_amount\": 4900,\n
        \         \"unit_amount_decimal\": \"4900\"\n        },\n        \"quantity\":
        1,\n        \"subscription\": \"sub_JuvfLfhfEyEpDh\",\n        \"tax_rates\":
        [\n\n        ]\n      }\n    ],\n    \"has_more\": false,\n    \"total_count\":
        1,\n    \"url\": \"/v1/subscription_items?subscription=sub_JuvfLfhfEyEpDh\"\n
        \ },\n  \"latest_invoice\": \"in_1JH5nzISAshlKrRgI2rHQCwD\",\n  \"livemode\":
        false,\n  \"metadata\": {\n  },\n  \"next_pending_invoice_item_invoice\":
        null,\n  \"pause_collection\": null,\n  \"payment_settings\": {\n    \"payment_method_options\":
        null,\n    \"payment_method_types\": null\n  },\n  \"pending_invoice_item_interval\":
        null,\n  \"pending_setup_intent\": null,\n  \"pending_update\": null,\n  \"plan\":
        {\n    \"id\": \"price_1JFnKrISAshlKrRgdPcdclQ9\",\n    \"object\": \"plan\",\n
        \   \"active\": true,\n    \"aggregate_usage\": null,\n    \"amount\": 4900,\n
        \   \"amount_decimal\": \"4900\",\n    \"billing_scheme\": \"per_unit\",\n
        \   \"created\": 1626904333,\n    \"currency\": \"eur\",\n    \"interval\":
        \"month\",\n    \"interval_count\": 1,\n    \"livemode\": false,\n    \"metadata\":
        {\n    },\n    \"nickname\": null,\n    \"product\": \"prod_JtaVPrC8nroNHr\",\n
        \   \"tiers_mode\": null,\n    \"transform_usage\": null,\n    \"trial_period_days\":
        null,\n    \"usage_type\": \"licensed\"\n  },\n  \"quantity\": 1,\n  \"schedule\":
        null,\n  \"start_date\": 1627213659,\n  \"status\": \"active\",\n  \"transfer_data\":
        null,\n  \"trial_end\": null,\n  \"trial_start\": null\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - fb3d6615-fc65-45db-a012-ac92c796a6e0
      original-request:
      - req_pGGYJjQ3YKQdla
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2020-08-27'
    status:
      code: 200
      message: OK
[...]
