interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.stripe.com/v1/subscriptions?customer=cus_JyQYOl2zHrlL7r
  response:
    body:
      string: "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"id\": \"sub_JyQYRn8QVtijTW\",\n
        \     \"object\": \"subscription\",\n      \"application_fee_percent\": null,\n
        \     \"automatic_tax\": {\n        \"enabled\": false\n      },\n      \"billing_cycle_anchor\":
        1630612497,\n      \"billing_thresholds\": null,\n      \"cancel_at\": null,\n
        \     \"cancel_at_period_end\": false,\n      \"canceled_at\": null,\n      \"collection_method\":
        \"charge_automatically\",\n      \"created\": 1628020497,\n      \"current_period_end\":
        1630612497,\n      \"current_period_start\": 1628020497,\n      \"customer\":
        \"cus_JyQYOl2zHrlL7r\",\n      \"days_until_due\": null,\n      \"default_payment_method\":
        null,\n      \"default_source\": null,\n      \"default_tax_rates\": [\n\n
        \     ],\n      \"discount\": null,\n      \"ended_at\": null,\n      \"items\":
        {\n        \"object\": \"list\",\n        \"data\": [\n          {\n            \"id\":
        \"si_JyQYGqbKCpo2oS\",\n            \"object\": \"subscription_item\",\n            \"billing_thresholds\":
        null,\n            \"created\": 1628020497,\n            \"metadata\": {\n
        \           },\n            \"plan\": {\n              \"id\": \"price_1JFnKPISAshlKrRgQ3RTCFiO\",\n
        \             \"object\": \"plan\",\n              \"active\": true,\n              \"aggregate_usage\":
        null,\n              \"amount\": 500,\n              \"amount_decimal\": \"500\",\n
        \             \"billing_scheme\": \"per_unit\",\n              \"created\":
        1626904305,\n              \"currency\": \"eur\",\n              \"interval\":
        \"month\",\n              \"interval_count\": 1,\n              \"livemode\":
        false,\n              \"metadata\": {\n              },\n              \"nickname\":
        null,\n              \"product\": \"prod_JtaVoLzg2hQ3rf\",\n              \"tiers_mode\":
        null,\n              \"transform_usage\": null,\n              \"trial_period_days\":
        null,\n              \"usage_type\": \"licensed\"\n            },\n            \"price\":
        {\n              \"id\": \"price_1JFnKPISAshlKrRgQ3RTCFiO\",\n              \"object\":
        \"price\",\n              \"active\": true,\n              \"billing_scheme\":
        \"per_unit\",\n              \"created\": 1626904305,\n              \"currency\":
        \"eur\",\n              \"livemode\": false,\n              \"lookup_key\":
        \"lite\",\n              \"metadata\": {\n              },\n              \"nickname\":
        null,\n              \"product\": \"prod_JtaVoLzg2hQ3rf\",\n              \"recurring\":
        {\n                \"aggregate_usage\": null,\n                \"interval\":
        \"month\",\n                \"interval_count\": 1,\n                \"trial_period_days\":
        null,\n                \"usage_type\": \"licensed\"\n              },\n              \"tax_behavior\":
        \"unspecified\",\n              \"tiers_mode\": null,\n              \"transform_quantity\":
        null,\n              \"type\": \"recurring\",\n              \"unit_amount\":
        500,\n              \"unit_amount_decimal\": \"500\"\n            },\n            \"quantity\":
        1,\n            \"subscription\": \"sub_JyQYRn8QVtijTW\",\n            \"tax_rates\":
        [\n\n            ]\n          }\n        ],\n        \"has_more\": false,\n
        \       \"total_count\": 1,\n        \"url\": \"/v1/subscription_items?subscription=sub_JyQYRn8QVtijTW\"\n
        \     },\n      \"latest_invoice\": \"in_1JKThVISAshlKrRgwK75eIPV\",\n      \"livemode\":
        false,\n      \"metadata\": {\n      },\n      \"next_pending_invoice_item_invoice\":
        null,\n      \"pause_collection\": null,\n      \"payment_settings\": {\n
        \       \"payment_method_options\": null,\n        \"payment_method_types\":
        null\n      },\n      \"pending_invoice_item_interval\": null,\n      \"pending_setup_intent\":
        \"seti_1JKThVISAshlKrRgxoblU5oo\",\n      \"pending_update\": null,\n      \"plan\":
        {\n        \"id\": \"price_1JFnKPISAshlKrRgQ3RTCFiO\",\n        \"object\":
        \"plan\",\n        \"active\": true,\n        \"aggregate_usage\": null,\n
        \       \"amount\": 500,\n        \"amount_decimal\": \"500\",\n        \"billing_scheme\":
        \"per_unit\",\n        \"created\": 1626904305,\n        \"currency\": \"eur\",\n
        \       \"interval\": \"month\",\n        \"interval_count\": 1,\n        \"livemode\":
        false,\n        \"metadata\": {\n        },\n        \"nickname\": null,\n
        \       \"product\": \"prod_JtaVoLzg2hQ3rf\",\n        \"tiers_mode\": null,\n
        \       \"transform_usage\": null,\n        \"trial_period_days\": null,\n
        \       \"usage_type\": \"licensed\"\n      },\n      \"quantity\": 1,\n      \"schedule\":
        null,\n      \"start_date\": 1628020497,\n      \"status\": \"trialing\",\n
        \     \"transfer_data\": null,\n      \"trial_end\": 1630612497,\n      \"trial_start\":
        1628020497\n    }\n  ],\n  \"has_more\": false,\n  \"url\": \"/v1/subscriptions\"\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2020-08-27'
    status:
      code: 200
      message: OK
version: 1
