interactions:
- request:
    body: customer=cus_JuvfQtesBmJXnQ&return_url=http%3A%2F%2Flocalhost%2Fmain%2F
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 8dd18b1e-028a-448a-a679-32e8cff1f16c
      authorization:
      - DUMMY
    method: POST
    uri: https://api.stripe.com/v1/billing_portal/sessions
  response:
    body:
      string: "{\n  \"id\": \"bps_1JH5szISAshlKrRgQ7zpHFF0\",\n  \"object\": \"billing_portal.session\",\n
        \ \"configuration\": \"bpc_1JG9X9ISAshlKrRg6qYtsSuu\",\n  \"created\": 1627213969,\n
        \ \"customer\": \"cus_JuvfQtesBmJXnQ\",\n  \"livemode\": false,\n  \"on_behalf_of\":
        null,\n  \"return_url\": \"http://localhost/main/\",\n  \"url\": \"https://billing.stripe.com/session/_JuvkjjfEQJwZmrnEdi5Kz4OdxROMyqj\"\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - 8dd18b1e-028a-448a-a679-32e8cff1f16c
      original-request:
      - req_N61qy9XJ1czaQu
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2020-08-27'
    status:
      code: 200
      message: OK
version: 1
