interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.stripe.com/v1/prices?lookup_keys%5B0%5D=no_plan&lookup_keys%5B1%5D=trial&lookup_keys%5B2%5D=trial_expired&lookup_keys%5B3%5D=free&lookup_keys%5B4%5D=lite&lookup_keys%5B5%5D=medium&lookup_keys%5B6%5D=enterprise&lookup_keys%5B7%5D=cancelled
  response:
    body:
      string: "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"id\": \"price_1JFnKrISAshlKrRgdPcdclQ9\",\n
        \     \"object\": \"price\",\n      \"active\": true,\n      \"billing_scheme\":
        \"per_unit\",\n      \"created\": 1626904333,\n      \"currency\": \"eur\",\n
        \     \"livemode\": false,\n      \"lookup_key\": \"enterprise\",\n      \"metadata\":
        {\n      },\n      \"nickname\": null,\n      \"product\": \"prod_JtaVPrC8nroNHr\",\n
        \     \"recurring\": {\n        \"aggregate_usage\": null,\n        \"interval\":
        \"month\",\n        \"interval_count\": 1,\n        \"trial_period_days\":
        null,\n        \"usage_type\": \"licensed\"\n      },\n      \"tiers_mode\":
        null,\n      \"transform_quantity\": null,\n      \"type\": \"recurring\",\n
        \     \"unit_amount\": 4900,\n      \"unit_amount_decimal\": \"4900\"\n    },\n
        \   {\n      \"id\": \"price_1JFnKPISAshlKrRgQ3RTCFiO\",\n      \"object\":
        \"price\",\n      \"active\": true,\n      \"billing_scheme\": \"per_unit\",\n
        \     \"created\": 1626904305,\n      \"currency\": \"eur\",\n      \"livemode\":
        false,\n      \"lookup_key\": \"lite\",\n      \"metadata\": {\n      },\n
        \     \"nickname\": null,\n      \"product\": \"prod_JtaVoLzg2hQ3rf\",\n      \"recurring\":
        {\n        \"aggregate_usag[...]
- request:
    body: success_url=http%3A%2F%2Flocalhost%2Fmain%2Ftransaction%2Fsuccess&cancel_url=http%3A%2F%2Flocalhost%2Fmain%2Ftransaction%2Fcancelled&customer=cus_JvoAx7X7LaA7IQ&payment_method_types[0]=card&mode=subscription&metadata[plan]=lite&line_items[0][price]=price_1JFnKPISAshlKrRgQ3RTCFiO&line_items[0][quantity]=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 8dcfa58a-e312-43cc-8a59-dc08e2a5a7b8
      authorization:
      - DUMMY
    method: POST
    uri: https://api.stripe.com/v1/checkout/sessions
  response:
    body:
      string: "{\n  \"id\": \"cs_test_a1y5pqXl2iEz7Wx3BWpoIZpBYRRJVcMMqOX6eKwUlpuLM4gxm4kI2TrHmh\",\n
        \ \"object\": \"checkout.session\",\n  \"allow_promotion_codes\": null,\n
        \ \"amount_subtotal\": 500,\n  \"amount_total\": 500,\n  \"automatic_tax\":
        {\n    \"enabled\": false,\n    \"status\": null\n  },\n  \"billing_address_collection\":
        null,\n  \"cancel_url\": \"http://localhost/main/transaction/cancelled\",\n
        \ \"client_reference_id\": null,\n  \"currency\": \"eur\",\n  \"customer\":
        \"cus_JvoAx7X7LaA7IQ\",\n  \"customer_details\": null,\n  \"customer_email\":
        null,\n  \"livemode\": false,\n  \"locale\": null,\n  \"metadata\": {\n    \"plan\":
        \"lite\"\n  },\n  \"mode\": \"subscription\",\n  \"payment_intent\": null,\n
        \ \"payment_method_options\": null,\n  \"payment_method_types\": [\n    \"card\"\n
        \ ],\n  \"payment_status\": \"unpaid\",\n  \"setup_intent\": null,\n  \"shipping\":
        null,\n  \"shipping_address_collection\": null,\n  \"submit_type\": null,\n
        \ \"subscription\": null,\n  \"success_url\": \"http://localhost/main/transaction/success\",\n
        \ \"total_details\": {\n    \"amount_discount\": 0,\n    \"amount_shipping\":
        0,\n    \"amount_tax\": 0\n  },\n  \"url\": \"https://checkout.stripe.com/pay/cs_test_a1y5pqXl2iEz7Wx3BWpoIZpBYRRJVcMMqOX6eKwUlpuLM4gxm4kI2TrHmh#fidkdWxOYHwnPyd1blpxYHZxWjA0TGZ8b2ZMVkR2bWlOd1diXTJLYTcycUFQfTY9S1JRVmd2dERscFBCbG9XTnY9NUs9Sj1vY01ESExiaVZHdTNMc25nUXI1b19Ob3E0Nl0yMjF9dkNQNWQyNTVtUU1DUkNUNScpJ2N3amhWYHdzYHcnP3F3cGApJ2lkfGpwcVF8dWAnPyd2bGtiaWBabHFgaCcpJ2BrZGdpYFVpZGZgbWppYWB3dic%2FcXdwYHgl\"\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - 8dcfa58a-e312-43cc-8a59-dc08e2a5a7b8
      original-request:
      - req_VUFnL161313Bvc
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2020-08-27'
    status:
      code: 200
      message: OK
version: 1
