interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.stripe.com/v1/subscriptions?customer=cus_JvoAx7X7LaA7IQ
  response:
    body:
      string: "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"id\": \"sub_JvoAqy89pB27C1\",\n
        \     \"object\": \"subscription\",\n      \"application_fee_percent\": null,\n
        \     \"automatic_tax\": {\n        \"enabled\": false\n      },\n      \"billing_cycle_anchor\":
        1628626022,\n      \"billing_thresholds\": null,\n      \"cancel_at\": null,\n
        \     \"cancel_at_period_end\": false,\n      \"canceled_at\": null,\n      \"collection_method\":
        \"charge_automatically\",\n      \"created\": 1627416422,\n      \"current_period_end\":
        1628626022,\n      \"current_period_start\": 1627416422,\n      \"customer\":
        \"cus_JvoAx7X7LaA7IQ\",\n      \"days_until_due\": null,\n      \"default_payment_method\":
        null,\n      \"default_source\": null,\n      \"default_tax_rates\": [\n\n
        \     ],\n      \"discount\": null,\n      \"ended_at\": null,\n      \"items\":
        {\n        \"object\": \"list\",\n        \"data\": [\n          {\n            \"id\":
        \"si_JvoAPjiUbRAWqv\",\n            \"object\": \"subscription_item\",\n            \"billing_thresholds\":
        null,\n            \"created\": 1627416422,\n            \"metadata\": {\n
        \           },\n            \"plan\": {\n              \"id\": \"price_1JHcZiISAshlKrRgK9G5oNXY\",\n
        \             \"object\": \"plan\",\n              \"active\": true,\n              \"aggregate_usage\":
        null,\n              \"amount\": 0,\n              \"amount_decimal\": \"0\",\n
        \             \"billing_scheme\": \"per_unit\",\n              \"created\":
        1627339626,\n              \"currency\": \"eur\",\n              \"interval\":
        \"month\",\n              \"interval_count\": 1,\n              \"livemode\":
        false,\n              \"metadata\": {\n              },\n              \"nickname\":
        null,\n              \"product\": \"prod_JvTW5tdIV7RZrO\",\n              \"tiers_mode\":
        null,\n              \"transform_usage\": null,\n              \"trial_period_days\":
        null,\n              \"usage_type\": \"licensed\"\n            },\n            \"price\":
        {\n              \"id\": \"price_1JHcZiISAshlKrRgK9G5oNXY\",\n              \"object\":
        \"price\",\n              \"active\": true,\n              \"billing_scheme\":
        \"per_unit\",\n              \"created\": 1627339626,\n              \"currency\":
        \"eur\",\n              \"livemode\": false,\n              \"lookup_key\":
        \"trial\",\n              \"metadata\": {\n              },\n              \"nickname\":
        null,\n              \"product\": \"prod_JvTW5tdIV7RZrO\",\n              \"recurring\":
        {\n                \"aggregate_usage\": null,\n                \"interval\":
        \"month\",\n                \"interval_count\": 1,\n                \"trial_period_days\":
        null,\n                \"usage_type\": \"licensed\"\n              },\n              \"tiers_mode\":
        null,\n              \"transform_quantity\": null,\n              \"type\":
        \"recurring\",\n              \"unit_amount\": 0,\n              \"unit_amount_decimal\":
        \"0\"\n            },\n            \"quantity\": 1,\n            \"subscription\":
        \"sub_JvoAqy89pB27C1\",\n            \"tax_rates\": [\n\n            ]\n          }\n
        \       ],\n        \"has_more\": false,\n        \"total_count\": 1,\n        \"url\":
        \"/v1/subscription_items?subscription=sub_JvoAqy89pB27C1\"\n      },\n      \"latest_invoice\":
        \"in_1JHwYMISAshlKrRgDuLVcJhS\",\n      \"livemode\": false,\n      \"metadata\":
        {\n      },\n      \"next_pending_invoice_item_invoice\": null,\n      \"pause_collection\":
        null,\n      \"payment_settings\": {\n        \"payment_method_options\":
        null,\n        \"payment_method_types\": null\n      },\n      \"pending_invoice_item_interval\":
        null,\n      \"pending_setup_intent\": \"seti_1JHwYMISAshlKrRgubLvBjtA\",\n
        \     \"pending_update\": null,\n      \"plan\": {\n        \"id\": \"price_1JHcZiISAshlKrRgK9G5oNXY\",\n
        \       \"object\": \"plan\",\n        \"active\": true,\n        \"aggregate_usage\":
        null,\n        \"amount\": 0,\n        \"amount_decimal\": \"0\",\n        \"billing_scheme\":
        \"per_unit\",\n        \"created\": 1627339626,\n        \"currency\": \"eur\",\n
        \       \"interval\": \"month\",\n        \"interval_count\": 1,\n        \"livemode\":
        false,\n        \"metadata\": {\n        },\n        \"nickname\": null,\n
        \       \"product\": \"prod_JvTW5tdIV7RZrO\",\n        \"tiers_mode\": null,\n
        \       \"transform_usage\": null,\n        \"trial_period_days\": null,\n
        \       \"usage_type\": \"licensed\"\n      },\n      \"quantity\": 1,\n      \"schedule\":
        null,\n      \"start_date\": 1627416422,\n      \"status\": \"trialing\",\n
        \     \"transfer_data\": null,\n      \"trial_end\": 1628626022,\n      \"trial_start\":
        1627416422\n    }\n  ],\n  \"has_more\": false,\n  \"url\": \"/v1/subscriptions\"\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2020-08-27'
    status:
      code: 200
      message: OK
version: 1
