interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.stripe.com/v1/prices?lookup_keys%5B0%5D=no_plan&lookup_keys%5B1%5D=trial_expired&lookup_keys%5B2%5D=free&lookup_keys%5B3%5D=lite&lookup_keys%5B4%5D=medium&lookup_keys%5B5%5D=enterprise&lookup_keys%5B6%5D=cancelled
  response:
    body:
      string: "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"id\": \"price_1JFnKrISAshlKrRgdPcdclQ9\",\n
        \     \"object\": \"price\",\n      \"active\": true,\n      \"billing_scheme\":
        \"per_unit\",\n      \"created\": 1626904333,\n      \"currency\": \"eur\",\n
        \     \"livemode\": false,\n      \"lookup_key\": \"enterprise\",\n      \"metadata\":
        {\n      },\n      \"nickname\": null,\n      \"product\": \"prod_JtaVPrC8nroNHr\",\n
        \     \"recurring\": {\n        \"aggregate_usage\": null,\n        \"interval\":
        \"month\",\n        \"interval_count\": 1,\n        \"trial_period_days\":
        null,\n        \"usage_type\": \"licensed\"\n      },\n      \"tax_behavior\":
        \"unspecified\",\n      \"tiers_mode\": null,\n      \"transform_quantity\":
        null,\n      \"type\": \"recurring\",\n      \"unit_amount\": 4900,\n      \"unit_amount_decimal\":
        \"4900\"\n    },\n    {\n      \"id\": \"price_1JFnKPISAshlKrRgQ3RTCFiO\",\n
        \     \"object\": \"price\",\n      \"active\": true,\n      \"billing_scheme\":
        \"per_unit\",\n      \"created\": 1626904305,\n      \"currency\": \"eur\",\n
        \     \"livemode\": false,\n      \"lookup_key\": \"lite\",\n      \"metadata\":
        {\n      },\n      \"nickname\": null,\n      \"product\": \"prod_JtaVoLzg2hQ3rf\",\n
        \     \"recurring\": {\n        \"aggregate_usag[...]
