interactions:
- request:
    body: customer=cus_JyQYOl2zHrlL7r&return_url=http%3A%2F%2Flocalhost%2Fmain%2F
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 66e211de-7925-45ad-89d8-b944e68da45c
      authorization:
      - DUMMY
    method: POST
    uri: https://api.stripe.com/v1/billing_portal/sessions
  response:
    body:
      string: "{\n  \"id\": \"bps_1JKThYISAshlKrRg9fMqv7Qn\",\n  \"object\": \"billing_portal.session\",\n
        \ \"configuration\": \"bpc_1JG9X9ISAshlKrRg6qYtsSuu\",\n  \"created\": 1628020500,\n
        \ \"customer\": \"cus_JyQYOl2zHrlL7r\",\n  \"livemode\": false,\n  \"on_behalf_of\":
        null,\n  \"return_url\": \"http://localhost/main/\",\n  \"url\": \"https://billing.stripe.com/session/_JyQYMiXzidB26RIzfKVeUmhADhgGWWA\"\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - 66e211de-7925-45ad-89d8-b944e68da45c
      original-request:
      - req_WjSUnuMSXPD4S9
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2020-08-27'
    status:
      code: 200
      message: OK
version: 1
